@font-face {
    font-family: headerFont;
    src: url("MackayDEMO-Bold.otf")

}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

head {
    text-align: center;
    margin-bottom: 20px;
    font-family: headerFont;
}

h1{
    text-align: center;
    z-index: 1;
}

#titleScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#titleScreen h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#titleScreen button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

#titleScreen button:hover {
    background-color: #45a049;
}

#currentElement {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}

#airJumpsText {
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}
